body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  background-image: "https://img.freepik.com/free-photo/book-library-with-open-textbook_1150-5916.jpg?w=740&t=st=1682697264~exp=1682697864~hmac=2f68d6f1229718aaa06194d0fbfe0ffa64ceeec862f09808d1da1b3058d2c077";
}
